[workspace]
resolver = "2"
members = [
    "bootloader",
    "kernel",
    "common",
]
default-members = ["bootloader"]

[workspace.package]
version = "0.1.0"
edition = "2024"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
